.logo {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Optional: larger spacing on desktop */
@media (min-width: 769px) {
  .logo {
    max-width: 500px;
  }

  .text {
    margin-top: 20px;
    font-size: 3rem;
  }
}
